parameters:
	ignoreErrors:
		-
			message: '#^Method Calliostro\\LastfmBundle\\DependencyInjection\\Configuration\:\:getConfigTreeBuilder\(\) return type with generic class Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: ../src/DependencyInjection/Configuration.php